[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# デフォルト認証プラグインの設定
default-authentication-plugin = mysql_native_password


# mysqlオプションの設定
[mysql]
# 文字コードの設定
default-character-set = utf8mb4

# mysqlクライアントツールの設定
[client]
# 文字コードの設定
default-character-set = utf8mb4
